{% extends 'teacher/base.html' %}

{% block content %}
    <div class="col-12 bg-primary text-white p-3">
        <h2>{{ group.groupName }} add marks for <b>{{ lesson.title }}</b> lesson</h2>
        <ul>
                <form action="{% url 'addmarks' lesson.id %}" method="post">
                    {% csrf_token %}
              {{ formset.management_form }}
              <table>
                  {% for form in formset %}
                  <tr><td><ul class="list-inline">{{ form.as_ul }}</ul></td></tr>
                  {% endfor %}
              </table>
              <input type="submit" value="Add marks" class="btn btn-success mt-2">    
            </form>            
        </ul>
    </div>
   
{% endblock %}

базовые понятия по контескной рекламе
